.ListView {
  min-width: 200px;
  height: 0;
  /*margin: 2px;*/
  z-index: 10;
}

.ListViewItem {
  color: teal;
  padding: 6px;
  border-bottom: 1px solid lightgray;

  transition: 0.3s;
  cursor: pointer;
}
.ListViewItem:hover {
  background: rgba(0,128,128,0.2);
}
.ListViewItem:active {
  background: rgba(0,128,128,0.4);
}