.ToolBar {
  flex-basis: 36px;
  position: sticky;
  top: 0;
  color: #555;
  background: #EEE;
  border-bottom: 1px solid teal;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
}

.ToolBarItem {
  flex: 0 0 25px; /* see note below */
  white-space: nowrap;
  color: teal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
}
.ToolBarItem:hover {
  background: rgba(0,128,128,0.2);
}
.ToolBarItem:active {
  background: rgba(0,128,128,0.4);
}