.ToolBarItem {
  color: teal;
  /*background: white;*/
  flex-basis: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
}
.ToolBarItem:hover {
  color: white;
  background: teal;
}
